.menu_flex{
    position: relative;
    align-items: center;
}
.inputbtn{
    position: absolute;
    top: .9rem;
    right: 0;
    width: 45px;
    height: 45px;
    border: solid;
    z-index: 10;
    margin-top: 1.5rem;
    opacity: 0;
    
}
.hamburger{
    position: absolute;
    top: .9rem;
    right: 0;
    width: 40px ;
    height: 40px;
    z-index: 8;
    padding: .5rem;
    padding-top: 17px;
    margin-top: 1.5rem;
}
.hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #2d314d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;z-index: 87;
}

.hamburger > div::before,
.hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 9;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hamburger > div::after {
    top: 10px;
}
.inputbtn:checked + .hamburger > div{
    top: 0;
    transform: rotate(-45deg);
}

.inputbtn:checked + .hamburger > div:before,
.inputbtn:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.inputbtn:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.hamburger{
    display: none;
}

@media(max-width:880px){
    .wrap{
        max-width: 100%;
    }
    
    .menu_btn{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .header_ul{
        position: absolute;
        top: 100px;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        border-radius: 5px;
        align-items: center;
        transition-timing-function: ease-in-out;
        padding-bottom: 1rem;
        line-height: 4rem;
        visibility: hidden;
    }

    header::after{
        content: '';
        position: absolute;
        background-image: url(./images/bg-tablet-pattern.svg);
        background-size: contain;
        width: 100%;
        height: 100%;
        top: 0%;
        right: -50%;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1;
    }

    .header_ul li{
        transition: all 0s;
    }
    .header_ul li:hover{
        transition: all .6s;
    }

    .inputbtn:checked ~ ul{
        visibility: visible;
        transition: all .6s ease;
        box-shadow: 0px 20px 80px 180px rgba(0, 0, 0, .5);
    }


    /* intro  */

    .intro{
        flex-direction: column-reverse;
        text-align: center;
    }

    .intro_text{
        margin-bottom: 1.5rem;
    }

    .intro_text > h1{
        font-size: 36px;
        line-height: 3rem;
        padding: 0;
    }

    .intro_text > p{
       margin: 1rem auto;
        padding: 0;
    }

    /* menu  */

    .profile::before{
        display: none;
    }
 

    

    .flex_menu{
        flex-direction: column;
        text-align: center;
    }

    /* left flex  */

    .flex_left{
        padding:0;
    }

    .flex_left > h1{
        font-size: 36px;
    }

    .flex_left > p{
        margin: 1rem auto;
    }

    .flex_right  h3{
        background-color: #ffefeb;
        border-radius: 25px;
        font-size: 16px;
        text-align: start;
        margin-right: -2rem;
    }

    .flex_right h3::before{
        content: counter(set-counter,decimal-leading-zero);
        counter-increment: set-counter 01;
        display: inline-block;
        margin-left: 0rem;
        margin-right: 1rem;
        padding: 0 20px;
        border-radius: 25px;
        border: none;
        color: white;
        background-color: #f25f3a;
        letter-spacing: 2px;
    }

    .flex_right > div{
        padding-left: 0;
        margin-top: 1.5rem;
    }

    /* profile */
    
    .flex_profile{
        flex-direction: column;
    }

    .flex_profile > div{
        margin-top: 3rem;
    }

    .profile::before{
        content: '';
        position: absolute;
        background-image: url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: -50%;
        right: -25%;
        background-position: top right;
    }

    /* box  */

    .box_flex{
        flex-direction: column;
    }

    .box::before{
        content: '';
    position: absolute;
    background-image: url(./images/bg-simplify-section-mobile.svg);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    transform: translateX(-50%);
    }

    .box_flex > h1{
        text-align: center;
        margin-bottom: 1rem;
    }

    /* footer  */

    .footer_grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "list4 list4"
        "list2 list3"
        "list1 list1";
        text-align: center;
        justify-content: center;
    }

    .list1{
        grid-area: list1;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .list2{
        grid-area: list2;
        margin: 3rem 0;
    }
    .list3{
        grid-area: list3;
        margin: 3rem 0;
    }
    .list4{
        grid-area: list4;
    }

    .list_icons{
        justify-content: center;
        padding: 0;
        margin: 0 -1rem 2rem 0;
    }

    .copyright{
        transform: translateY(-30px);
        text-align: center;
        margin-top: 2rem;
    }


    

    
}